 .home-page p {
    padding-left: 3%;
    text-align: left;
    color: rgb(18, 16, 16);
    font-size: 1.2rem;
 }

.home-page {
    background: rgb(98,90,240);
    background: linear-gradient(90deg, rgba(98,90,240,1) 0%, rgba(57,206,213,1) 39%, rgba(0,212,255,1) 100%);
    padding: 3%;
    /* background: url('../assets/IMG_5995.jpeg'); */
}

.home-main{
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.home-page-text {
    padding: 3%;
    margin-top: 4%;
    width: 50%;
}

img{
    /* margin-top: 20%; */
    width: 400px;
    height: 300px;
    border-radius: 100px;
    
}

footer {
    text-align: center;
    padding-top: 3%;
}

/* Styles for footer social links and copyright line */
.social-media-link {
    padding-top: 1%;   
    padding-bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
}

.social-media-link a {
    color: rgba(98,90,240,1);
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
}

.social-media-link a:hover {
    color: rgb(83, 40, 224);
}

.footer p {
    font-weight: 600;
}

/* Small screens */
@media all and (max-width: 500px) {
    .home-main{
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .home-page-text {
        width: 90%;
    }
      img{
        margin-top: 0%;
        width: 250px;
        height: 100px;
        border-radius: 80px;
        
    }
  }

/* Medium screens */
@media all and (max-width: 800px) {
    .home-main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
      .home-page {
        background: rgb(98,90,240);
        background: linear-gradient(90deg, rgba(98,90,240,1) 0%, rgba(57,206,213,1) 39%, rgba(0,212,255,1) 100%);
    }
    .home-page-text {
        width: 90%;
    }
    img{
        margin-top: 0%;
        width: 350px;
        height: 250px;
        border-radius: 80px;
    }
}




