.petsitter-alert {
    margin-left: 5%;
}

.petsitter-form {
    margin: 5%;
}

/* #button-go-petsitters{
    background: linear-gradient(90deg, rgba(98,90,240,1) 0%, rgba(0,212,255,1) 100%);
    color: yellow;
} */

