/* h1 {
    font-size: 0.5rem;
} */
.petsitter-alert {
    margin-left: 5%;
}

.petsitter-form {
 /* background-color: aqua; */
    margin: 5%;
}
/* .petsitter-form-page {
       text-align: center;
} */