
  
  .petsitters__item__toggle--available {
    color: green;
    /* background-color: rgba(30, 179, 30, 0.15); */
    border-color: rgba(0, 128, 0, 0.2);
  }

  .card-petsitter {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* align-items: center; */
  }