.petsitters-list-no-bullet {
    list-style: none;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
/* .petsitters-list {
  
} */
  
.petsitters-available {
    color: green;

    /* background-color: rgba(30, 179, 30, 0.15); */
    border-color: rgba(0, 128, 0, 0.2);
  }
  .petsitters-not-available {
    color: rgb(212, 23, 23);

    /* background-color: rgba(30, 179, 30, 0.15); */
    border-color: rgba(0, 128, 0, 0.2);
  }