.filter-label {
  color: rgb(85, 83, 83);
  font-weight: 500;
  margin-bottom: 2%;
 }

.petsitters-list h1 {
  text-align: center;
  margin-bottom: 3%;
}

.petsitters-list {
  background: rgb(98,90,240);
  background: linear-gradient(90deg, rgba(98,90,240,1) 0%, rgba(57,206,213,1) 39%, rgba(0,212,255,1) 100%);
}

.petsitters-list-no-bullet {
  list-style: none;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3%;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
 
.petsitters-available {
  color: green;
  border-color: rgba(0, 128, 0, 0.2);
}

.petsitters-not-available {
  color: rgb(212, 23, 23);
}

#petsitter-card {
  width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3%;
  margin: 2%;
  border-radius: 2rem;
  box-shadow: 2px 10px 10px #6173d7;
}

.image-petsitter {
  width:200px;
  height:200px;
}

#alert-no-found {
  border-radius: 20px;
  border: #8696eb 1px solid;
  box-shadow: 2px 10px 10px #6173d7;
  font-size: 1.2rem;

}

/* Small screens */
@media all and (max-width: 500px) {
  #petsitter-card {
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 2rem;
      box-shadow: 2px 10px 10px #6173d7;
     }
  .image-petsitter {
    margin-top: 5%;
    width:100px;
    height:100px;
  }
  .petsitters-list-no-bullet {
    padding-left: 0;
  }
}