.App {
  text-align: center;
  background-color: #2fbec8;
  
}

h1 {
  padding-top: 5%;
  padding-left: 3%;
  text-align: center;
  color: rgb(85, 83, 83);
  opacity: 0.8;
  text-shadow: 2px 2px 2px #ebf3f3;
  
}







